.hero_section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 550px;
    padding: 0 60px;
    color: rgb(40, 108, 167);
    background-color: rgb(183, 255, 161);
}
.hero_section div{
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.hero_title{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}
.hero_subtitle{
    font-size: 24px;
    width: 70%;
    margin-bottom: 32px;
}
.hero_img{
    padding:16px 32px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 600;
    border: 2px solid cornflowerblue;
    color: black;
    background-color: rgb(167, 246, 246);
    border-radius: 32px;
    transition: all 0.3s ease-in-out;
}
.hero_img:hover{
    background-color: transparent;
    color: black;
    border-color: blue;
}
.iphone_img{
    transition: all 0.3s ease-in-out;
    height: 500px;
}
.iphone_img:hover{
    transform: scale(1.05);
}