.items_table{
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse: collapse;
    box-shadow: 0px 3px 8px burlywood;
}
.items_table thead th{
    height: 50px;
    background-color: #36304a;
    color: wheat;
    text-transform: uppercase;
}
.items_table tbody tr{
    text-align: center;
}